apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    uid: prometheus
    access: proxy
    url: http://prometheus:9090
    jsonData:
      exemplarTraceIdDestinations:
        - datasourceUid: tempo
          name: TraceID
    isDefault: true
    editable: true

  - name: Tempo
    type: tempo
    uid: tempo
    access: proxy
    url: http://tempo:3200
    editable: true
    jsonData:
      tracesToLogsV2:
        datasourceUid: loki
        filterByTraceID: true
        filterBySpanID: false
        tags:
          - key: service.name
            value: service_name
          - key: service.instance.id
            value: instance_id
        customQuery: true
        query: '{service_name="observability-demo-api"} | json | trace_id="${__trace.traceId}"'
      tracesToMetrics:
        datasourceUid: prometheus
        tags:
          - key: http.route
            value: http_route
        queries:
          - name: Request Rate
            query: "sum(rate(http_server_request_duration_seconds_count{exported_job=\"observability-demo-api\",http_route=\"$${__tags.http_route}\"}[5m]))"
          - name: p95 Latency
            query: "histogram_quantile(0.95, sum by (le) (rate(http_server_request_duration_seconds_bucket{exported_job=\"observability-demo-api\",http_route=\"$${__tags.http_route}\"}[5m])))"
      nodeGraph:
        enabled: true
      serviceMap:
        datasourceUid: prometheus

  - name: Loki
    type: loki
    uid: loki
    access: proxy
    url: http://loki:3100
    editable: true
    jsonData:
      derivedFields:
        - matcherRegex: "\"trace(?:_|)id\":\"([0-9a-f]{32})\""
          name: trace_id
          datasourceUid: tempo
          url: "$${__value.raw}"
